/***** Buttons *****/
a.elementor-button-link{
	width: 350px!important;
}

.elementor-widget-container .elementor-button-wrapper a.elementor-button.cta-button {
	font-family: "Quicksand", Sans-serif;
	font-size: 24px;
	font-weight: 200;
	color: #000;
	background-color: #d6d6d6;
	border-radius: 30px 30px 30px 30px;
}

.elementor-widget-container .elementor-button-wrapper a.elementor-button.cta-button:hover{
	background-color: #808080;
}

@media screen and (max-width: 430px) {
	.elementor-widget-container .elementor-button-wrapper a.elementor-button.cta-button {
		width: 15em!important;
		font-size: 16px;
	}
}

/****************/

/***** Text *****/

.shrink-text-area {
	margin: 0px 30px 0px 30px;
}

.justify-text {
	text-align: justify;
}
/*****************/