/*****MailChimp********/
#mc_embed_signup .mc-field-group.input-group label {
	margin-right: 10px;
	float: left;
}

.block_1, .block_2 {
	float: left;
}

#mc_embed_signup .mc-field-group {
	margin-right: 1em;
}

@media screen and (max-width: 380px) {
	.block_1, .block_2 {
		display: block!important;
	}
	
	#mc_embed_signup .mc-field-group.input-group label{
		float: none;
		display: block!important;
	}
	
	.subcribe_container {
		display: block!important;
		width: 20em!important;
	}
	
	#mc_embed_signup .mc-field-group {
		min-height: 30px!important;
	}
	
	.subcribe_container {
		margin-top: 4em!important;
	}
}

@media screen and (max-width: 1308px){
	#footer-col4 {
		width: auto;
	}
}

.mc-field-group {
		width: auto!important;
	}

#mc_embed_signup .mc-field-group input[type=email] {
	border: 1px solid white;
	padding: 5px 20px!important;
}

#mc_embed_signup .mc-field-group input::placeholder{
	color: white;
}

#mc_embed_signup form {
	padding: 0px!important;
}

#mc_embed_signup .button {
	background-color: #FA7268!important;
	text-transform: uppercase;
	font-size: 12px!important;
	height: 28px!important;
	line-height: 28px!important;
}

#mc_embed_signup .mc-field-group.input-group ul {
	padding: 0!important;
}

#mc_embed_signup .mc-field-group.input-group ul li {
	padding: 0!important;
}

.mc-field-group .email {
	float: left;
}

#mc_embed_signup .clear {
	clear: none!important;
	float: left;
}

.subcribe_container {
	display: flex;
	width: 28em;
	margin-top: 1em;
}

.clearfix::after {
	content:"";
  display:table;
  clear:both;
}

/*** custom checkboxes ***/

input[type=checkbox] { display:none!important; } 
/* to hide the checkbox itself */

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } 
/* unchecked icon */

input[type=checkbox] + label:before { letter-spacing: 10px; } 
/* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } 
/* checked icon */

input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */