@media screen and (min-width: 1485px) {

    .half-box-background-news {
        background-color: #efefef;
        border-right: 3px solid grey;
        
        position: absolute;
        top: -8%;
        bottom: 25%;
        left: 5%;
        right: -5%;
        
        width: auto!important;
        height: 20em;
        margin: 0!important;
        padding: 0!important;
        
        z-index: 0;
    }
}