@media screen and (min-width: 1485px) {
    .half-box-background {
        border-left: 3px solid grey;
        position: absolute;
        top: 0;
        bottom: 25%;
        left: 0%;
        right: 5%;
        
        width: auto!important;
        
        margin: 0!important;
        padding: 0!important;
        
        z-index: 0;
    }
}

.elementor img.image-size{
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    height: 100%;
}

.box {
    position: relative;
    overflow: hidden;
    width: 23em;
    height: 20em;
}

@media screen and (max-width: 350px){
    .box {
        width: 15em;
        height: 12em;
    }    
}


.elementor-widget-heading.elementor-widget-heading .elementor-heading-title.box-title {
    color: #404041;
    font-family: "Quicksand", Sans-serif;
    font-weight: 300;
    font-size: 2.8em;
}