@media screen and (max-width: 1485px){
	div.order-text-box {
		order: 2;
	}
	
	.elementor-row {
		flex-direction: column!important;
	}
} 

.switch-block-side {
    flex-direction: row-reverse;
}

.text-panel-background {
    background-color: #efefef;
}

.border-right {
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: #a9cede;
}

.border-left {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #a9cede
}

.elementor-widget-heading.elementor-widget-heading .elementor-heading-title.dark-heading-title {
    color: #021f30;
}